# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Odoo filestore (if mounted locally)
filestore/

# Environment
.env
*.log

# development
*.zip
__pycache__/
